/*Created 2015-02-28 by the CodeCloud Team
This is a Saas file has an 'Asset Type' of SCSS. CSS will be compiled when saving.
For more information on asset types please see http://www.getcodecloud.com/docs#SaSS
*/
@import url('http://fonts.googleapis.com/css?family=Open+Sans');

/* COLOUR VARIABLES */
$primary: #009688;

body{
    color:#777;
    font-family:'Open Sans';
}

#content {
    margin: 0 auto;
    max-width: 1150px;
}
.content_container {
    margin: 0 auto;
    max-width: 1150px;
}
h3 {
    font-size: 16px;
}

.caps {
    text-transform: uppercase;
}
/* *** FOOTER *** */
.footer_nav {
    .footer_nav_title {
        text-align: center;
    }
    .footer_nav_title:after {
        content: " ";
        width: 32px;
        height: 2px;
        position: absolute;
        left: 50%;
        bottom: -10px;
        -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
        transition: opacity 0.2s ease-in;
        transition-delay: 0.45s;
        background-color: $primary;
    }
    .footer_menu {
        margin: 0;
        padding: 0;
        li{
            list-style-type: none;
            text-align: center;
        }
    }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

    
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

    
    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    
    
}